/.settings/
/.project
/.mvn
*.iml
/logs
#class files
*.class

# Package Files #
*.jar
*.war
*.ear



# ignore eclipse files
*.project
*.settings
*.metadata
*.classpath
*settings/*
.project
.classpath
.settings
.metadata
.DS_Store
outputs
/target
/.settings
/.classpath
/.project
jira.mapping
.eclipse-pmd


# ignore idea files
/.idea
*.iml

# ignore Maven generated target folders
target


# ignore work runtime
logs4
*/logs
coverage-report
/数据样本/
output_scm

LOG_FILE_IS_UNDEFINED
/.pydevproject

*.png
*.js
TEST-*
testng-*
*/test-output
*.factorypath
*/.idea/
*.pyc